HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application.yml ###
application.yaml

# Google folder
src/main/java/gaedianz/org/Picle/external/client/google/

# Kakao folder
src/main/java/gaedianz/org/Picle/external/client/kakao/

# Social Login files
src/main/java/gaedianz/org/Picle/controller/dto/request/SocialLoginRequestDto.java
src/main/java/gaedianz/org/Picle/controller/SocialController.java
src/main/java/gaedianz/org/Picle/service/SocialLoginRequest.java
src/main/java/gaedianz/org/Picle/service/external/GoogleSocialService.java
src/main/java/gaedianz/org/Picle/service/external/KakaoSocialService.java
src/main/java/gaedianz/org/Picle/service/SocialService.java
src/main/java/gaedianz/org/Picle/service/SocialServiceProvider.java